.head{
  overflow: hidden;
  background-color: lightseagreen;
  padding: 5px 10px;
}
.head a.logo {
    font-size: 35px;
    font-weight: bold;
}
.head a {
    float: left;
    color:rgb(28, 65, 102);
    text-align: center;
    text-decoration: none;
}
#headright a {
    float: right;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}
#headright a:hover {
   background-color:black;
   color:#f1f1f1;
}
.topnav{
  overflow: hidden;
  background-color:black ;
  padding: 5px 10px;
}
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.topnav a:hover, .drop:hover .dropbtn {
    background-color:white;
    color:black;
}
.drop {
  float: left;
  overflow: hidden;
}

.drop .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropcontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropcontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropcontent a:hover {
  background-color: #ddd;
}

.drop:hover .dropcontent {
  display: block;
}

.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}